<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('contract_index')}}">{{ registre }} ✏️</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

   
        <div class="collapse navbar-collapse" id="navbarColor01">
            {% if is_granted("ROLE_ADMIN") %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ path("contract_index") }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mes contrats
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path("contract_index") }}">Mes contrats en cours</a>
                            <a class="dropdown-item" href="{{ path("contract_past") }}">Mes anciens contrats</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('intervention_index') }}" class="nav-link">Mes interventions</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('customer_index') }}" class="nav-link">Mes clients</a>
                    </li>
                </ul>
            {% endif %}
            <ul class="navbar-nav ml-auto">
                {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("app_login") }}">Connexion</a>
                    </li>  
                    {# <li class="nav-item">
                        <a class="nav-link" href="{{ path("app_register") }}">Inscription</a>
                    </li>   #}
                {% endif %}
        
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("app_logout") }}">Déconnexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    
</nav>