{% extends 'base.html.twig' %}

{% block title %}{{registre}} | Modification d'un client{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modification d'un client</h1>
        {{ include('customer/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('customer_index') }}">Ma liste de client</a>

        {# {{ include('customer/_delete_form.html.twig') }} #}
    </div>
    
{% endblock %}
