{% extends 'base.html.twig' %}

{% block title %}{{registre}} | Mes clients {% endblock %}

{% block body %}
    <div class="container">
        <div class="table-responsive">
            <h1>Mes clients</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Client depuis le</th>
                        <th><a href="{{ path('customer_new') }}"><button class="btn btn-success">+</button></a></th>
                    </tr>
                </thead>
                <tbody>
                {% for customer in customers %}
                    <tr>
                        <td><a href="{{ path('customer_show', {'id': customer.id}) }}">{{ customer.id }}</a></td>
                        <td><a href="{{ path('customer_show', {'id': customer.id}) }}">{{ customer.name }} - {{ customer.since ? customer.since|date('Y') : '' }} </a></td>
                        <td><a href="{{ path('customer_show', {'id': customer.id}) }}">{{ customer.since ? customer.since|date('d-m-Y') : '' }}</a></td>
                        <td>
                            <a href="{{ path('customer_show', {'id': customer.id}) }}">Regarder</a>
                            <a href="{{ path('customer_edit', {'id': customer.id}) }}"><span class="text-info">Modifier</span></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Vous n'avez pas de client ...</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('customer_new') }}">Créer un nouveau client</a>
        </div>
    </div>


{% endblock %}
