{% extends 'base.html.twig' %}

{% block title %}{{registre}} | Création d'un nouveau client{% endblock %}

{% block body %}
    <div class="container">
        <h1>Création d'un nouveau client</h1>

        {{ include('customer/_form.html.twig') }}

        <a href="{{ path('customer_index') }}">Ma liste de client</a>
    </div>

{% endblock %}
