{% extends 'base.html.twig' %}

{% block title %}{{ registre }} | {{ customer.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Client - {{ customer.name }}</h1>
        <div class="table-responsive">
                <table class="table">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ customer.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom du client</th>
                        <td>{{ customer.name }}</td>
                    </tr>
                    <tr>
                        <th>Client depuis le</th>
                        <td>{{ customer.since ? customer.since|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="list-group mb-3" style="user-select: auto;">
            {% for contract in customer.contracts %}
                <a href="{{ path('contract_show', {'id' : contract.id}) }}" {% if contract.endAt < dateTime %} class="list-group-item list-group-item-action" {% else %} class="list-group-item list-group-item-action active" {% endif %}
                 style="user-select: auto;">
                    {% if contract.endAt < dateTime %}
                        Contrat terminé le {{ contract.endAt|date('d-m-Y')}}
                    {% else %}
                        En contrat jusqu'au {{ contract.endAt|date('d-m-Y')}}
                    {% endif %}
                </a>
            {% endfor %}

        </div>
        <ul class="list-group mb-3" style="user-select: auto;">
            {% for intervention in customer.interventions %}
                <li class="list-group-item d-flex justify-content-between align-items-center" style="user-select: auto;">
                    <a href="{{ path('intervention_show', {'id': intervention.id}) }}">
                        {% if intervention.intervention %}
                            {{ intervention.intervention|striptags|u.truncate(150, '...')|raw }}
                        
                        {% else %}
                            ...
                        {% endif %}
                    </a>
                    <span class="badge badge-primary badge-pill" style="user-select: auto;">{{ intervention.durationInHours }} heure{% if intervention.durationInHours >= 2 %}s{% endif %} | {{ intervention.interventionAt|date('d-m-Y')}}</span>
                </li>
            {% endfor %}
        </ul>

        <div class="d-flex row mb-3 ml-0">
            <a href="{{ path('contract_new') }}"><button class="btn btn-success mr-1 mb-1">Créer un nouveau contrat</button></a>
            <a href="{{ path('intervention_new') }}"><button class="btn btn-light mr-1 mb-1">Créer une intervention</button></a>
            {# TODO: Générer un PDF  #}
            <a href="{{ path('customer_generate', {'id': customer.id}) }}"><button class="btn btn-dark mr-1">Générer un PDF</button></a>
            <a href="{{ path('customer_edit', {'id': customer.id}) }}"><button class="btn btn-info mr-1">Modifier</button></a>
            {{ include('customer/_delete_form.html.twig') }}
        </div>
        <a href="{{ path('customer_index') }}">Ma liste de client</a>
    </div>
{% endblock %}
