<form method="post" action="{{ path('intervention_delete', {'id': intervention.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cette intervention ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ intervention.id) }}">
    <button class="btn btn-warning">Supprimer</button>
</form>
