{{ form_start(form) }}
    {{ form_row(form.interventionAt, {'attr' : {'class' : 'form-control'}}) }}
    {{ form_row(form.durationInHours, {'attr' : {'class' : 'form-control'}}) }}
    {{ form_row(form.type, {'attr' : {'class' : 'form-control'}}) }}
    {{ form_row(form.contract, {'attr' : {'class' : 'form-control'}}) }}
    {{ form_row(form.intervention, {'attr' : {'class' : 'form-control'}}) }}
    <button class="btn btn-success mt-2 mb-2">Ajouter</button>
{{ form_end(form) }}
<script src="/ckeditor/ckeditor.js"></script>
    <script>      
    CKEDITOR.replace( 'intervention_intervention' );
</script>