{% extends 'base.html.twig' %}

{% block title %}{{ registre }} | Modifier l'intervention{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier l'intervention</h1>

        {{ include('intervention/_form.html.twig', {'button_label': 'Update'}) }}
        {# {{ include('intervention/_delete_form.html.twig') }} #}
        <a href="{{ path('intervention_index') }}">Voir mes interventions</a>

    </div>

{% endblock %}
