{% extends 'base.html.twig' %}

{% block title %}{{ registre }} | Mes interventions{% endblock %}

{% block body %}
    <div class="container">
       <h1>Mes interventions</h1>
        <div class="row mb-1">
            <div class="col-lg-12">
                {% include "_parts/_search.html.twig" %}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Client</th>
                        <th>Date d'intervention</th>
                        <th>Durée en heure</th>
                        <th>Type</th>
                        <th>Intervention</th>
                        <th>
                            <a href="{{ path('intervention_new') }}"><button class="btn btn-success">+</button></a>
                            {{ knp_pagination_sortable(interventions, '', 'intervention.id') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for intervention in interventions %}
                    <tr>
                        <td><a href="{{ path('intervention_show', {'id': intervention.id}) }}">{{ intervention.id }}</a></td>
                        <td><a href="{{ path('intervention_show', {'id': intervention.id}) }}}) }}">{{ intervention.customer }}</a></td>
                        <td><a href="{{ path('intervention_show', {'id': intervention.id}) }}">{{ intervention.interventionAt ? intervention.interventionAt|date('H:i d-m-Y ') : '' }}</a></td>
                        <td><a href="{{ path('intervention_show', {'id': intervention.id}) }}">{{ intervention.durationInHours }}</a></td>
                        <td><a href="{{ path('intervention_show', {'id': intervention.id}) }}">{{ intervention.type }}</a></td>
                        <td><a href="{{ path('intervention_show', {'id': intervention.id}) }}">{{ intervention.intervention|striptags|u.truncate(50, '...')|raw }}</a></td>
                        <td>
                            <a href="{{ path('intervention_show', {'id': intervention.id}) }}">Regarder</a>
                            <a href="{{ path('intervention_edit', {'id': intervention.id}) }}"><span class="text-info">Modifier</span></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Vous n'avez pas d'intervention...</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            {{ knp_pagination_render(interventions) }}
        </div>

        <a href="{{ path('intervention_new') }}">Créer une nouvelle intervention</a>
    </div>
{% endblock %}
