{% extends 'base.html.twig' %}

{% block title %}{{ registre }} | Créer une nouvelle intervention{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer une nouvelle intervention</h1>
        {{ include('intervention/_form.html.twig') }}
        <a href="{{ path('intervention_index') }}">Voir mes interventions</a>
    </div>
{% endblock %}
