{% extends 'base.html.twig' %}

{% block title %}{{ registre }} | Mon intervention du {{ intervention.interventionAt ? intervention.interventionAt|date('d-m-Y') : '' }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mon intervention du {{ intervention.interventionAt ? intervention.interventionAt|date('d-m-Y') : '' }}</h1>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ intervention.id }}</td>
                    </tr>
                    <tr>
                        <th>Client</th>
                        <td><a href="{{ path('customer_show', {'id' : intervention.customer.id})}}">{{ intervention.customer }}</a></td>
                    </tr>    
                    <tr>
                        <th>Type</th>
                        <td>{{ intervention.type }}</td>
                    </tr>                
                    <tr>
                        <th>Date de l'intervention</th>
                        <td>{{ intervention.interventionAt ? intervention.interventionAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Durée en heure</th>
                        <td>{{ intervention.durationInHours }} heure{% if intervention.durationInHours >= 2 %}s{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Prix de l'intervention</th>
                        <td>{{ intervention.contract.honorary *  intervention.durationInHours}} €</td>
                    </tr>
   
                    <tr>
                        <th>Intervention</th>
                        <td>{{ intervention.intervention|raw }}</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="d-flex">
            {# TODO: Générer un PDF  #}
            <a href="{{ path('contract_show', {'id': intervention.contract.id}) }}"><button class="btn btn-success mr-1">Voir le contrat</button></a>
            <a href="{{ path('intervention_generate', {'id': intervention.id}) }}"><button class="btn btn-dark mr-1">Générer un PDF</button></a>
            <a href="{{ path('intervention_edit', {'id': intervention.id}) }}"><button class="btn btn-info mr-1">Modifier</button></a>
            {{ include('intervention/_delete_form.html.twig') }}
        </div>
        <a href="{{ path('intervention_index') }}">Voir mes interventions</a>
    </div>
{% endblock %}
