{{ form_start(form) }}
    {{ form_row(form.customer, {'attr' : {'class' : 'form-control'}}) }}
    {{ form_row(form.endAt, {'attr' : {'class' : 'form-control'}}) }}
    {{ form_row(form.hours, {'attr' : {'class' : 'form-control'}}) }}
    {{ form_row(form.giftHours, {'attr' : {'class' : 'form-control'}}) }}
    {{ form_row(form.honorary, {'attr' : {'class' : 'form-control'}}) }}
    <button class="btn btn-success mt-3">Ajouter</button>
{{ form_end(form) }}
