{% extends 'base.html.twig' %}

{% block title %}{{ registre }} | Modifier le contrat{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier le contrat de {{ contract.customer}}</h1>
        {{ include('contract/_form.html.twig', {'button_label': 'Update'}) }}
        {# {{ include('contract/_delete_form.html.twig') }} #}
        <a href="{{ path('contract_index') }}">Voir mes autres contrats</a>
    </div>
{% endblock %}
