{% extends 'base.html.twig' %}

{% block title %}{{ registre }} | Mes contrats en cours{% endblock %}

{% block body %}
    <div class="container">
        {# TODO: Ajouter le montant total des honoraires  #}
        <h1>Mes contrats {% if not past %}en cours - {{ account / 12}} € par mois{% else %}terminés{% endif %}  </h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Client</th>
                        <th>Base horaire</th>
                        <th>Heures consommées</th>
                        <th>Heures restantes</th>
                        <th>Fin de contrat</th>
                        <th>Montant en euros</th>
                        <th><a href="{{ path('contract_new') }}"><button class="btn btn-success">+</button></a></th>
                    </tr>
                </thead>
                <tbody>
                {% for contract in contracts %}
                    <tr>
                        <td><a href="{{ path('contract_show', {'id': contract.id}) }}">{{ contract.id }}</a></td>
                        <td><a href="{{ path('contract_show', {'id': contract.id}) }}">{{ contract.customer }} - {{ contract.createdAt|date('Y')}}</a></td>
                        <td><a href="{{ path('contract_show', {'id': contract.id}) }}">{{ contract.hours + contract.giftHours }} heure{% if contract.hours + contract.giftHours >= 2 %}s{% endif %}</a></td>
                        <td><a href="{{ path('contract_show', {'id': contract.id}) }}">{{ contract.consumed }} heure{% if contract.consumed %}s{% endif %}</a></td>
                        <td><a href="{{ path('contract_show', {'id': contract.id}) }}"> {% if contract.consumed > contract.hours + contract.giftHours %}<span class="text-danger">{% endif %}{{ contract.hours + contract.giftHours  - contract.consumed}} heure{% if contract.hours + contract.giftHours - contract.consumed >= 2 or contract.hours + contract.giftHours  - contract.consumed < 0 %}s{% endif %}</span></a></td>
                        <td><a href="{{ path('contract_show', {'id': contract.id}) }}">{{ contract.endAt ? contract.endAt|date('d-m-Y') : '' }}</a></td>
                        <td><a href="{{ path('contract_show', {'id': contract.id}) }}">{{ contract.hours * contract.honorary /12}}€ par mois | {{ contract.hours * contract.honorary}}€ par an</a></td>
                        <td>
                            <a href="{{ path('contract_show', {'id': contract.id}) }}">Regarder</a>
                            <a href="{{ path('contract_edit', {'id': contract.id}) }}"><span class="text-info">Modifier</span></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Vous n'avez pas de contrat</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <a href="{{ path('contract_new') }}">Créer un nouveau contrat</a>
    
    </div>

{% endblock %}
