{% extends 'base.html.twig' %}

{% block title %}{{ registre }} | Nouveau contrat{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter un nouveau contrat</h1>
        {{ include('contract/_form.html.twig') }}
        <a href="{{ path('contract_index') }}">Voir mes autres contrats</a>
    </div>
{% endblock %}
