{% extends 'base.html.twig' %}

{% block title %}{{ registre }} | Le contrat de {{ contract.customer }}{% endblock %}

{% block body %}

{% set interventionInHours = 0 %}
{% for intervention in contract.interventions %}
{% set interventionInHours = interventionInHours + intervention.durationInHours %}
{% endfor %}
{% set hours =  contract.hours + contract.giftHours %}

<div class="container">
    <h1>Le contrat de <a href="{{ path('customer_show', {'id' : contract.customer.id}) }}">{{ contract.customer }}</a>
    </h1>
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ contract.id }}</td>
                </tr>
                <tr>
                    <th>Client</th>
                    <td><a href="{{ path('customer_show', {'id' : contract.customer.id}) }}">{{ contract.customer }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Base horaire</th>
                    <td>{{ contract.hours }} heure{% if contract.hours >= 2 %}s{% endif %} </td>
                </tr>
                {% if contract.giftHours %}
                <tr>
                    <th>Heures offertes</th>
                    <td>{{ contract.giftHours }} heure{% if contract.giftHours >= 2 %}s{% endif %}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>Heures consommées</th>
                    <td>{{ contract.consumed }} heure{% if contract.consumed %}s{% endif %}</td>
                </tr>
                <tr>
                    <th>Heures {% if interventionInHours > contract.hours + contract.giftHours %} 
                        <span class="text-danger">dépassés</span>
                        {% else %} 
                        <span class="text-success">restantes</span>
                        {% endif %}
                    </th>
                    <td>
                        {% if interventionInHours > contract.hours + contract.giftHours %}
                            {{ interventionInHours - hours }} heure{% if interventionInHours - hours  >= 2 %}s{% endif %}
                        {% else %}
                            {{ contract.hours - contract.consumed + contract.giftHours}}
                            heure{% if contract.hours - contract.consumed >= 2 %}s{% endif %} | (( base horaire + heures
                            offertes) - heures consommées )
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Fin de contrat</th>
                    <td>{{ contract.endAt ? contract.endAt|date('d-m-Y') : '' }}</td>
                </tr>

                <tr>
                    <th>Montant en euros</th>
                    <td>{{ contract.hours * contract.honorary /12}}€ par mois | {{ contract.hours * contract.honorary}}€
                        par an</td>
                </tr>

            </tbody>
        </table>
        <ul class="list-group mb-3" style="user-select: auto;">
            {% for intervention in contract.interventions %}
            <li class="list-group-item d-flex justify-content-between align-items-center" style="user-select: auto;">
                <a href="{{ path('intervention_show', {'id': intervention.id}) }}">
                    {% if intervention.intervention %}
                    {{ intervention.intervention|striptags|u.truncate(150, '...')|raw }}

                    {% else %}
                    ...
                    {% endif %}
                </a>
                <span class="badge badge-primary badge-pill"
                    style="user-select: auto;">{{ intervention.durationInHours }}
                    heure{% if intervention.durationInHours >= 2 %}s{% endif %} |
                    {{ intervention.interventionAt|date('d-m-Y')}}</span>
            </li>
            {% endfor %}
        </ul>
        <div class="d-flex">
            <a href="{{ path('intervention_new') }}"><button class="btn btn-light mr-1 mb-1">Créer une
                    intervention</button></a>
            {# TODO: Générer un PDF  #}
            <a href="{{ path('contract_generate', {'id': contract.id}) }}"><button class="btn btn-dark mr-1">Générer un
                    PDF</button></a>
            <a href="{{ path('contract_edit', {'id': contract.id}) }}"><button
                    class="btn btn-info mr-1">Modifier</button></a>
            {{ include('contract/_delete_form.html.twig') }}
        </div>
        <a href="{{ path('contract_index') }}">Voir mes autres contrats</a>

    </div>
</div>
{% endblock %}