{# templates/bundles/TwigBundle/Exception/error403.html.twig#}
{% extends 'base.html.twig' %}
{% block title %}{{registre}} | Erreur 403{% endblock %}
{% block body %}
    <div class="container text-center">
        <h3>Vous n'êtes pas encore autorisé à consulter cette page</h3>
        <div> 
            {{ exception.message }}  
        </div>
    </div>

{% endblock %}
