
{% extends 'base.html.twig' %}
{% block title %}{{registre}}  | Erreur 404{% endblock %}
{% block body %}
    <div class="container text-center">
        <h3>Page non trouvé</h3>
        <div> 
            {{ exception.message }}  
        </div>
    </div>

{% endblock %}
